body {
  margin:0px 10% ;
  min-height: 90%;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: cornsilk;
}
a {
  text-decoration: none;
  color: white;
}
header{
  
  border-radius: 10px;
  text-align: center;
}
#menuNav{
  text-align: center;
}
#menuNav ul li{
  display: inline-block;
  background-color: darkred;
  padding: 5px 8% 10px 8%;
  margin: 10px;
  border-radius: 10px;
}
.container{
  background-color: rgba(57, 58, 55, 0.1);
  float: left;
  width: 65%;
  border: 3px solid darkred;
}
.container article{
  padding: 0px 10px 5px 10px;
}
.title{
  color: darkred;
}
.side{
  float: right;
  width: 30%;
  border: darkred solid 3px;
  padding: 20px;
}
.side img{
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{
  display: inline-block;
  width: 100%;
  background-color: darkred;
  color: white;
  text-align: center;
  margin-top: 20px;
}






